{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <div class="m-auto w80 my-4">
    <h1 class="titre text light center">Commande</h1>
    <div class="div-btn m-2 print-none">
    <a class="btn btn-sm btn-success" href="{{ path('app_commande_new')}}"><i class="fas fa-cart-plus"></i>Nouvelle Commande</a>
    <a class="btn btn-sm btn-success" href="javascript:window.print()"><i class="fas fa-print"></i>Imprimer</a>
    <a class="btn btn-sm btn-success" href="javascript:writeExcel()"><i class="fas fa-file-excel"></i>Excel</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumCommande</th>
                <th>DateCommande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.numCommande }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td class="div-btn p-2">
                    <a class="btn btn-sm btn-success" href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_commande_content',  {'id': commande.id}) }}">Contenue</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>
    </div>
{% endblock %}
